@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Neutral-4: #95A1BB;
    --Neutral-2: #E1E5EE;
    --h1: 500 36px/43px Rubik, sans-serif;
    --Text: #363940;
    --link: 500 12px/20px Rubik, sans-serif;
    --p1: 400 16px/22px Rubik, sans-serif;
    --h6: 500 18px/22px Rubik, sans-serif;
    --oq: #fff;
    --Primary: #6E38F7;
}

.container11 {
    width: 100%;
    height: 672px;
}

.container10 {
    width: 100%;
    height: 672px;
    background-color: var(--oq);
    text-align: center;
    padding-top: 100px;
}

.bgp1 {
    font: var(--h1);
    color: var(--Text);
}

.bgp2 {
    font: var(--p1);
    color: var(--Neutral-4);
    margin-top: 20px;
}

.box1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.box2 {
    width: 220px;
    height: 347px;
    border-radius: 4px;
    border: 1px solid var(--Neutral-2, #E1E5EE);
    margin: 10px;
}

.box2:hover {
    border: 1px solid var(--Primary);
    box-shadow: 3px 3px 10px black, 3px 3px 10px black;
}

.btn1:hover .link4 {
    color: var(--oq);
}

.btn1:hover {
    background-color: var(--Primary);
    transition: all 0.3s;
}

.h6 {
    font: var(--h6);
    color: var(--Text);
    margin-top: 30px;
}

.box3 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.box3 h6 {
    font: var(--h6);
}

.box3 h1 {
    font: var(--h1);
    color: var(--Text);
}

.img1 {
    margin-top: 35px;
}

.p1 {
    color: #363940;
    font: var(--p1);
    margin-top: 30px;
}

.p2 {
    font-feature-settings: 'clig' off, 'liga' off;
    font: var(--p1);
    color: var(--Text);
    margin-top: 20px;
}

.p5 {
    font: var(--p1);
    margin-top: 36px;
}

.p3 {
    font: var(--p1);
    color: var(--Text);
    margin-top: 20px;
}

.btn1 {
    width: 160px;
    height: 36px;
    flex-shrink: 0;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid var(--Primary, #6E38F7);
    background: transparent;
    cursor: pointer;
    transition: all 0.3s;
}

.link {
    text-decoration: none;
    font: var(--link);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--Primary);
}

.btn2 {
    width: 160px;
    height: 36px;
    flex-shrink: 0;
    margin-top: 20px;
    background: var(--Primary);
    border-radius: 4px;
    border: 1px solid var(--Primary, #6E38F7);
    cursor: pointer;
}

.link2 {
    text-decoration: none;
    font: var(--link);
    text-transform: uppercase;
    color: var(--oq);
}

.btn3 {
    width: 160px;
    height: 36px;
    flex-shrink: 0;
    margin-top: 20px;
    background: var(--Primary);
    border-radius: 4px;
    border: 1px solid var(--Primary, #6E38F7);
    cursor: pointer;
}

.link3 {
    text-decoration: none;
    font: var(--link);
    text-transform: uppercase;
    color: var(--oq);
}

.btn4 {
    width: 160px;
    height: 36px;
    flex-shrink: 0;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid var(--Primary, #6E38F7);
    background: transparent;
    cursor: pointer;
}

.link4 {
    text-decoration: none;
    font: var(--link);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--Primary);
}