@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --default-font: 'Rubik', sans-serif;
    --primary-color: #6E38F7;
    --text-color: #363940;
    --netural-color: #95A1BB;
    --text-ligth: #fff;
    --link-font: 500 12px/20px Rubik, sans-serif;
    --hero-font: 500 58px/68px Rubik, sans-serif;
    --desc-font: 400 16px/22px Rubik, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-font);
}

.header {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 800px;
    padding-top: 70px;
    background: url("img/Picture.svg") no-repeat right;
}

.container2 {
    width: 940px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 44px;
}

.link-box {
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    text-decoration: none;
    font: var(--link-font);
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.left {
    width: 357px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.right {
    gap: 20px;
}

.btn1 {
    width: 112px;
    height: 36px;
    background: transparent;
    border-radius: 4px;
    border: 1px solid var(--Primary, #6E38F7);
    cursor: pointer;
}

.btn1 a {
    color: var(--primary-color);
}

.btn2 {
    width: 112px;
    height: 36px;
    background: var(--primary-color);
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background: var(--Primary, #6E38F7);
    cursor: pointer;
    margin-left: 20px;
}

.btn2 a {
    color: var(--text-ligth);
}

.container4 {
    width: 100%;
    height: auto;
    display: flex;
    justify-self: center;
}

.container5 {
    width: 940px;
    margin: 0 auto;
}

.h1 {
    font: var(--hero-font);
    color: var(--text-color);
    margin-top: 185px;
}

.p1 {
    font: var(--desc-font);
    color: var(--netural-color);
    margin-top: 38px;
    margin-bottom: 191px;
}

.link2 {
    font: var(--link-font);
    color: var(--primary-color);
    font-feature-settings: 'clig' off, 'liga' off;
}