* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100vh;
	background-color: black;
	/*display: flex;
	align-items: center;
	flex-direction: row-reverse;*/
}
.box {
	width: 100%;
	height: 100vh;
	background: url("img/bg.svg") no-repeat;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	background-size: cover;
}
.box2 {
	width: 150px;
	height: 34px;
	position: absolute;
	margin: 40px 40px;
	background: url("img/Logo.png") no-repeat;
	
}
form {
	width: 479px;
	height: 497px;
	margin: 238px 55px 178px;
	border-radius: 27px;
	border: 1px solid rgba(255, 255, 255, 0.80);
	background: linear-gradient(109deg, rgba(201, 201, 201, 0.80) 1.57%, rgba(196, 196, 196, 0.10) 100%);
	backdrop-filter: blur(30px);
	text-align: center;
}
.h1 {
	color: #FFF;
    font-family: Iceland;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: left;
	margin-left: 30px;
}
.span {
	width: 120px;
	height: 2px;
	background-color: white;
	margin: 10px 28px;
	text-align: left;
}
.box2 .img {
	cursor: pointer;
	background-size: cover;
}
input {
	width: 419px;
	height: 50px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	background: transparent;
	padding: 10px 120px 10px 20px;
}
input::placeholder {
	color: #CCC;
}
.p1 {
	margin: 30px 30px 0px -320px;
	color: white;
	opacity: 0.7;
}
.p2 {
	margin: 30px 30px 0px -320px;
	color: white;
	opacity: 0.7;
}
.p3 {
	font-size: 15px;
	text-align: right;
	color: white;
	opacity: 0.8;
	margin-right: 30px;
}
.btn {
	width: 419px;
	height: 50px;
	color: black;
	background: #A5D9D0;
	border: none;
	margin: 10px 0px -15px 0px;
	border-radius: 7px;
	cursor: pointer;
}
.p4 {
	text-align: center;
	margin: 35px 30px 30px 30px; 
	color: white;
}
.p5 {
	color: white;
	text-decoration: none;
} 
.p6 {
	color: white;
	text-decoration: none;
}
.h3 {
	font-size: 20px;
	margin-left: -195px;
	color: #ccc;
	opacity: 0.7;
}
@media screen and (max-width:556px) {
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.box {
		width: auto;
		height: 100vh;	
		align-items: center;
		justify-content: center;
	}
	form {
		
	}
}