@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --df: Poppins;
    --Main: #323137;
    --active: #EDCA48;
    --h1: 800 60px/72px Poppins, sans-serif;
    --p1: 400 16px/28px Poppins, sans-serif;
}

.h1 {
    font: var(--h1);
    color: var(--Main);
    text-transform: uppercase;
}

.container3 {
    width: 100%;
    height: 1100px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.bos1 {
    width: 100%;
    height: 1100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.big-image1 {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 52px;
}

.top-image {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 48px;
    background-size: cover;
    align-items: center;
}

.img1 {
    width: 331px;
    height: 341px;
    padding-top: 15px;
}

.img11 {
    width: 281px;
    height: 307px;
    background: url("img/image\ 8.png") no-repeat;
    background-size: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-position-x: -250px;
}

.img2 {
    width: 550px;
    height: 307px;
}

.img12 {
    width: 546px;
    height: 307px;
    border-radius: 13px;
    background: url(img/image\ 7.png) no-repeat;
    background-size: cover;
}

.img3 {
    width: 365px;
    height: 315px;
    background: url("img/image\ 9.png");
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 30px
}

.img13 {
    width: 365px;
    height: 307px;
}

.bottom-image {
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
}

.img4 {
    width: 565px;
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img14 {
    width: 546px;
    height: 307px;
    border-radius: 13px;
    background: url("img/image\ 9.png") no-repeat;
    background-size: cover;
}

.img5 {
    width: 562px;
    height: 341px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img15 {
    width: 546px;
    height: 307px;
    background: url("img/image\ 8.png") no-repeat;
    background-size: cover;
    border-radius: 13px;
}