@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --h1: 500 36px/43px Rubik, sans-serif;
    --Text: #363940;
    --Neutral-4: #95A1BB;
    --p1: 400 16px/22px Rubik, sans-serif;
    --link: 500 12px/20px Rubik, sans-serif;
    --h6: 500 18px/22px Rubik, sans-serif;
    --oq: #fff;
    --Primary: #6E38F7;
    --Neutral-3: #CAD1E1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 617px;
    padding-top: 100px;
    text-align: center;
}

.h1 {
    font: var(--h1);
    color: var(--Text);
}

.p1 {
    font: var(--p1);
    color: var(--Neutral-4);
    margin-top: 20px;
}

.box1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.h12 {
    font: var(--h1);
    color: var(--Text);
}

.p2 {
    font: var(--p1);
    color: var(--Neutral-4);
    margin-top: 10px;
}

.box2 {
    width: 260px;
    height: 260px;
    background: url("img/Oval.svg");
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box2 div {
    width: 260px;
    height: 260px;
    background: url("img/Path\ \(2\).svg") no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box3 {
    width: 260px;
    height: 260px;
    background: url("img/Oval.svg");
}

.box3 div {
    width: 260px;
    height: 260px;
    background: url("img/Path.svg")no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: right top;
}

.box4 {
    width: 260px;
    height: 260px;
    background: url("img/Oval.svg")no-repeat;
}

.box4 div {
    width: 260px;
    height: 260px;
    background: url("img/Path\ \(1\).svg") no-repeat;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}