* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgb(207, 29, 29);
    }
    &::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 6px;
    }
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$font1: 500 14px/20px Arial,
sans-serif;
$font2: 500 16px/22px Arial,
sans-serif;
$white:white;
$fonta: 900 16px/20px Arial,
sans-serif;
iframe {
    width: 100%;
    height: auto;
}

.fix {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fixed {
    width: 100%;
    height: 80px;
    @include center;
    gap: 30px;
    background-image: linear-gradient(-23deg, #1b87a8 30%, #ddc4c4 50%, #dbdd69 70%);
    position: fixed;
    z-index: 99;
    max-width: 1400px;
    margin: 0 auto;
}

.fixed .a2 {
    text-decoration: none;
    background-image: linear-gradient(-23deg, #bd2c2c 20%, #2bd45e 40%, #1815bb 60%, #9cd343);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: 900 14px/22px Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: anim9 3s linear infinite;
}

.fixed .a3 {
    @extend .a2;
    animation: anim10 3s linear infinite;
}

.fixed .a4 {
    @extend .a2;
    animation: anim11 3s linear infinite;
}

@keyframes anim9 {
    0% {
        background-position: 130px 90px;
    }
}

@keyframes anim10 {
    0% {
        background-position: 105px -110px;
    }
}

@keyframes anim11 {
    0% {
        background-position: -90px 110px;
    }
}

.contai1 {
    width: 100%;
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
}

.container1 {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 80px;
    .box1 {
        width: 100%;
        height: 602px;
        @include center;
        background-color: black;
        background-size: cover;
        flex-direction: column;
    }
    .h {
        text-align: center;
        font: 900 30px/30px Arial, sans-serif;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .box2 {
        width: 200px;
        height: 350px;
        background-color: #0c0a0a;
        @include center;
        border-radius: 20px;
        box-shadow: 2px 2px 1px blue, -1px -1px 1px rgb(31, 25, 25);
    }
    .p1 {
        color: greenyellow;
        text-align: center;
        font: 500 12px/22px 'Rubik', sans-serif;
        text-shadow: 0px 2px 10px greenyellow;
        img {
            width: 150px;
            height: 150px;
            border: 5px solid green;
            border-radius: 50%;
        }
    }
    .div {
        width: 227px;
        height: 350px;
        @include center;
        flex-direction: column;
        gap: 10px;
        position: relative;
    }
    .html p {
        color: #da881c;
    }
    .html,
    .css,
    .scss {
        width: 60px;
        height: 60px;
        position: relative;
    }
    .css p {
        color: dodgerblue;
    }
    .scss p {
        color: rgb(241, 119, 176);
    }
    .div1 a {
        width: 60px;
        height: 60px;
        font: 900 16px/22px Arial, sans-serif;
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        transition: all 0.8s;
        background-color: #1f1d1d;
    }
    .div a::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 60px;
        margin-top: -5px;
        margin-left: -70px;
        transform: rotate(0) skewY(45deg);
        overflow: hidden;
        background-color: #3b3a3a;
    }
    .div a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 10px;
        margin-left: -10px;
        margin-top: -10px;
        background-color: #1f1212;
        transform: rotate(0) skewX(45deg);
        overflow: hidden;
    }
    .div div {
        width: 60px;
        height: 60px;
        font: 900 16px/22px Arial, sans-serif;
        color: white;
    }
    .div1 div p {
        margin-top: -10px;
        transition: all 0.8s;
    }
    .div div:hover a {
        margin-top: -30px;
        box-shadow: -5px 30px 15px rgb(23, 23, 26);
    }
    .html:hover a {
        background-color: #ceda28;
        &::before {
            background-color: #ecfa6f;
        }
        &::after {
            background-color: #a5ad29;
        }
        p {
            color: #fff;
        }
    }
    .css:hover a {
        background-color: #1e1bbb;
        &::before {
            background-color: #4a85c9;
        }
        &::after {
            background-color: #322172;
        }
        p {
            color: #fff;
        }
    }
    .scss:hover a {
        background-color: #bb1b7e;
        &::before {
            background-color: #c94aa9;
        }
        &::after {
            background-color: #722164;
        }
        p {
            color: #fff;
        }
    }
    .div1 {
        @include center;
        flex-direction: row;
        gap: 20px;
        position: absolute;
    }
    .div2 {
        @extend .div1;
    }
    .box3 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 30px;
    }
    .box3-left {
        @extend .boxs6;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        img {
            width: 100px;
        }
    }
    .figma {
        width: 60px;
        height: 100px;
        display: flex;
        flex-direction: row;
    }
    .figma-left {}
    .figma-right {}
    .figma1 {
        width: 30px;
        height: 30px;
        background-color: #E54A19;
        border-radius: 50% 0 0 50%;
    }
    .figma2 {
        width: 30px;
        height: 30px;
        background-color: #7C4Dff;
        border-radius: 50% 0 0 50%;
    }
    .figma3 {
        width: 30px;
        height: 30px;
        background-color: #66BB6A;
        border-radius: 50% 0 50% 50%;
    }
    .figma4 {
        width: 30px;
        height: 30px;
        background-color: #ff7043;
        border-radius: 0 50% 50% 0%;
    }
    .figma5 {
        width: 30px;
        height: 30px;
        background-color: #29b6f6;
        border-radius: 50%;
    }
    .hl {
        color: yellow;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase
    }
    .right {
        @extend .boxs6;
    }
    .boxs6 {
        width: 250px;
        height: 350px;
        background-color: #0c0a0a;
        border-radius: 50px;
        padding: 10px;
        margin-top: 20px;
        box-shadow: -2px -2px 1px red, 1px -1px 1px rgb(20, 20, 26);
    }
    .h1 {
        width: 100%;
        line-height: 24px;
        color: blue;
        background-image: linear-gradient( -22deg, #1741ac 0%, #1848a8 9%, #15a7a7 22%, #7f861c 40%, #9b1414 67%, #11339b 100%);
        font: 900 26px/22px Arial, sans-serif;
        text-align: center;
        text-transform: uppercase;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: anim6 6s linear infinite;
    }
    @keyframes anim6 {
        0% {
            background-position: -450px;
        }
        25% {
            background-position: -600px;
        }
        50% {
            background-position: -700px;
        }
        75% {
            background-position: -800px;
        }
        100% {
            background-position: -900px;
        }
    }
}

.contain4 {
    width: 100%;
    height: 2000px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.contain3 {
    width: 100%;
    height: 2000px;
    // position: absolute;
}

.bos1 {
    width: 100%;
    height: 2090px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(34deg, #411c99 10%, #1fa535 90%);
}

.bos1 a {
    width: 360px;
    height: 180px;
    border: 3px solid white;
    @include center;
    position: relative;
    overflow: hidden;
    // border-radius: 50% 0 50% 0;
    box-shadow: 6px 6px 2px #413939, -6px -6px 2px #413939, 6px -6px 2px #413939, -6px 6px 2px #413939;
}

.bos1 a img {
    position: absolute;
    border: 4px solid rgb(192, 14, 14);
    // border-radius: 50% 0 50% 0;
    transition: all 0.3s;
    box-shadow: 1px 1px 10px rgb(56, 29, 179);
    transform: scale(1.05);
}

.bos1 a img:hover {
    // width: 100%;
    // height: 100%;
    transform: scale(1.089);
    box-shadow: 2px 2px 2px #ccc, -2px -2px 1px #ccc, -2px 2px 2px #ccc, 2px -2px 2px #ccc;
}

.bos2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.h4 {
    // position: absolute;
    text-align: center;
    text-transform: uppercase;
    font: 900 16px/22px Rubik, sans-serif;
    color: rgb(197, 171, 25);
    background-color: red;
}

.bose1 {
    width: 100%;
    height: 100px;
    @include center;
    background-color: #3f25d4;
}

.p5 {
    font: $fonta;
}

@media screen and (max-width:884px) {
    .contain4 {
        width: 100%;
        height: 2100px;
        display: flex;
        justify-content: center;
    }
    .contain3 {
        width: 100%;
        height: 2100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bos1 {
        width: 100%;
        height: 2000px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-color: black;
        padding-bottom: 20px;
        padding-top: 70px;
        padding: 0 10px 0 10px;
    }
    .bos1 a {
        width: 250px;
        height: 120px;
        display: flex;
    }
    .bos1 a img {
        transform: scale(0.7);
        border: none;
    }
    .bos1 a:hover {
        width: 250px;
        height: 120px;
        border: none;
    }
    .bos1 a:hover img {
        transform: scale(0.8);
        border: none;
    }
    .bos2 {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    .box2 {
        padding: 0 20px 0 20px;
    }
}

@media screen and (max-width:555px) {
    .fixed {
        width: 100%;
        height: 80px;
        gap: 15px;
    }
    .fixed .a2 {
        letter-spacing: 0;
        gap: 5px;
        font: 900 12px/16px Arial;
    }
    .contain4 {
        width: 100%;
        height: 4000px;
        display: flex;
    }
    .contain3 {
        width: 100%;
        height: 4000px;
    }
    .bos1 {
        width: 100%;
        height: 4010px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: black;
        padding: 0 5px 0 5px;
    }
    .h4 {
        font: 400px 12px/22px 'Rubik', sans-serif;
    }
    .bos1 a {
        width: 100%;
        height: 220px;
        border-radius: 0;
    }
    .bos1 a img {
        transform: scale(1.34);
        border-radius: 0;
    }
    .bos1 a:hover img {
        transform: scale(1.4);
    }
    .bos1 a:hover {
        width: 100%;
        height: 220px;
    }
    .bose1 {
        width: 100%;
        height: 90px;
    }
    .bos2 {
        padding: 10px;
    }
    .container1 {
        width: 100%;
        height: 1590px;
    }
    .container1 .box3 {
        width: 100%;
        height: 1900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container1 .box1 {
        width: 100%;
        height: 1550px;
    }
}