* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

$font1: 500 14px/20px Arial,
sans-serif;
$font2: 500 16px/22px Arial,
sans-serif;
$white:white;
$fonta: 900 16px/20px Arial;
iframe {
    width: 100%;
    height: auto;
}

.contai1 {
    width: 100%;
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
}

.container1 {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    .box1 {
        width: 100%;
        height: 602px;
        display: flex;
        justify-content: center;
        background-color: black;
        background-size: cover;
        flex-direction: column;
        align-items: center;
    }
    .h {
        text-align: center;
        font: 900 30px/30px Terminal, sans-serif;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .box2 {
        width: 200px;
        height: 350px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .p1 {
        color: $white;
        text-align: center;
        font: $font1;
    }
    .div {
        width: 227px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .div a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font: $fonta;
    }
    .div1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .div2 {
        @extend .div1;
    }
    .div img {
        width: 50px;
        height: 50px;
        border: 1px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div a img:hover {
        width: 50px;
        height: 50px;
        box-shadow: 2px 2px 3px white, -2px -2px 3px white, -2px 2px 3px white, 2px -2px 3px white;
    }
    .box3 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .boxs6 {
        width: 250px;
        height: 350px;
        border: 1px solid white;
        padding: 10px;
        margin-top: 20px;
    }
    .box6,
    .box7,
    .box8,
    .box9 {
        width: 250px;
        height: 350px;
        border: 2px solid white;
        color: blue;
        text-align: center;
        font: $font2;
        padding: 10px;
        text-transform: uppercase;
        overflow: hidden;
    }
    .h1 {
        line-height: 24px;
        color: blue;
        font: 900 26px/22px Arial, sans-serif;
        text-align: center;
        text-transform: uppercase;
    }
}

@media screen and (max-width:555px) {
    .container1 {
        width: 100%;
        // height: 100vh;
    }
    .box1 {
        background-size: contain;
    }
}

.contain4 {
    width: 100%;
    height: 2900px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container3 {
    /* display: flex; */
}

.contain3 {
    width: 100%;
    height: 2900px;
    // position: absolute;
}

.bos1 {
    width: 100%;
    height: 2790px;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.bos1 a {
    width: 420px;
    height: 270px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 0 50% 0;
    box-shadow: 2px 2px 2px white, -2px -2px 2px white, 2px -2px white, -2px 2px 2px white;
}

.bos1 a img {
    width: 400px;
    height: 250px;
    border: 1px solid yellow;
    border-radius: 50% 0 50% 0;
    transition: all 0.3s;
}

.bos1 a img:hover {
    width: 410px;
    height: 260px;
    box-shadow: 2px 2px 2px #ccc, -2px -2px 1px #ccc, -2px 2px 2px #ccc, 2px -2px 2px #ccc;
}

.bos2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.h4 {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font: $fonta;
    color: blue;
}

.bose1 {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p5 {
    font: $fonta;
}

@media screen and (max-width:1024px) {
    .contain4 {
        width: 100%;
        height: 2800px;
        display: flex;
        justify-content: center;
    }
    .contain3 {
        width: 100%;
        height: 2800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bos1 {
        width: 100%;
        height: 2700px;
        display: flex;
        justify-content: center;
        background-color: black;
        padding-bottom: 20px;
        padding-top: 70px;
        gap: 20px;
    }
    .bos1 a {
        width: 100%;
        height: 100%;
    }
    .bos1 a img {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .bos1 a:hover img {
        width: 100%;
        height: 100%;
        // position: relative;
    }
    a:hover {
        // width: 100%;
        // height: 100%;
        // position: relative;
    }
}

@media screen and (max-width:555px) {
    .contain4 {
        width: 100%;
        height: 3400px;
        display: flex;
    }
    .contain3 {
        width: 100%;
        height: 3400px;
    }
    .bos1 {
        width: 100%;
        height: 3310px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: black;
    }
    .h4 {
        font: 400px 12px/22px Rubik, sans-serif;
    }
    .bos1 a {
        width: 100%;
        height: 180px;
        border-radius: 0;
    }
    .bos1 a img {
        width: 100%;
        height: 180px;
        border-radius: 0;
    }
    .bos1 a:hover img {
        width: 100%;
        height: 180px;
    }
    .bose1 {
        width: 100%;
        height: 90px;
        position: relative;
    }
}