@import "color",
"default";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hder {
    width: 100%;
    height: 100vh;
    position: fixed;
    .buns {
        @include buttons;
        .ben {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}

button {
    width: 70px;
    height: 70px;
    transition: all 0.9s;
    overflow: hidden;
}

button:hover {
    width: 100px;
    height: 70px;
    opacity: 1;
    margin: 0;
}

.telegram {
    @include center;
    border: 1px solid $primary;
    background: url("img/telegram.png") no-repeat;
    @include btn;
    &::before {
        @include telegram;
    }
    &:hover::before {
        @include beffore;
    }
    &::after {
        content: "Telegram";
        position: absolute;
        opacity: 0;
        color: white;
        margin-left: -200px;
        transition: all 1s ease;
        // transition-delay: 0.3s;
    }
    &:hover::after {
        opacity: 1;
        margin: 0;
    }
}

.telegram:hover {
    background-position: 120px;
}

.youtube {
    @mixin telegram;
}

.youtube:hover {
    background-position: 120px;
}

.fecebook {
    @mixin telegram;
}

.fecebook:hover {
    background-position: 120px;
}