* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rebeccapurple;
}

.box3 {
    width: 100%;
    height: 100vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 270px;
    height: 50px;
    background-color: beige;
    text-align: right;
    padding: 4px;
    border-radius: 13px;
    border: 2px solid rgb(55, 255, 250);
    text-transform: uppercase;
}

@media screen (max-width:500px) {}